@charset "ISO-8859-1";
body{
margin: 0;
padding: 0;
}
.wrapper{
border: 1px solid #000;
height: auto;
width: 90%;
margin: 0 auto;
}
i.fa.fa-plus.fa-style{
    font-size: 20px;
    color: #000;
}
i.fa.fa-minus.fa-style{
    font-size: 20px;
    color: #000;
}
i.fa.fa-plus.fa-style:hover{
    color: brown;
}
i.fa.fa-minus.fa-style:hover{
    color: brown;
}
.wrapper_chitiet{
height: auto;
width: 90%;
margin: 0 auto;
}
.hinhanh_sanpham{
    
    float: left;
    width: 30%;

}
.chitiet_sanpham{
    float: left;
    width: 49%;
    margin: 0 10px;


}
input.themgiohang {
    border: none;
    background: brown;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}

.header{
    background-image: url("images/bannerphukien.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
border: 1px solid #ff80ff;
height: 180px;
width: 100%;


}



.menu{
    border: 1px solid #1aff8c;
height: 40px;
width: 100%;
background: #00e6ac;

}
ul.list_menu li:hover {
    background: burlywood;
}
ul.list_menu li a {
    text-align: center;
    text-decoration: none;
    color: #ff0000;
}

ul.list_menu {
    padding: 0;
    border: 1px solo;
    width: 60%;
    border: 1px solid #000;
    margin: 0;
    list-style: none;
    margin: 0 auto;
}
ul.list_menu li {
    float: left;
    margin: 5px;
    padding: 5px;
}



#main{
    border: 1px solid #00ff80;
height: auto;
width: 100%;


}
.sidebar{
    border: 1px solid #000066;
height: 390px;
width: 20%;
margin-top: 5px;
margin-left: 5px;
float: left;

}
ul.list_sidebar {
    padding: 0;
    border: 1px solo;
    width: 100%;
   
    margin: 0;
    list-style: none;
   
}
ul.list_sidebar li:hover {
    background: cadetblue;
}
ul.list_sidebar li a {
    text-align: left;
    text-decoration: none;
    color: #ff0000;
    display: block;
}
ul.list_sidebar li {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.list_sidebar{

    display: flex;
    flex-direction: column;
}
.maincontent{
height: auto;
width: 78%;
margin-top: 5px;
margin-left: 10px;
float: right;

}
ul.product_list{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 103%;

}
ul.product_list li img{
    height : 160px;
}
ul.product_list li{
    width: 15%;
  border: 1px solid #ddd;
    margin: 5px;
    float: left;
 
   height: auto;
}

ul.product_list li img{
    width: 100%;
}
p.price_product{
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.title_product{
    text-align: center;
    color: #000;
    font-size:16px ;
    font-weight: bold;
}

.footer{
    border: 1px solid #000;
height: 150px;
width: 100%;
background:#00cc99;
}
.clear{
    clear: both;
}
